.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;

  &__image {
    background-image: url("/hero3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    object-fit: cover;
    transform-origin: top center;
    display: flex;
    justify-content: center;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }

  &__imageOverlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: black;
    transform: scaleY(1);
    transform-origin: top bottom;
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

.shibuyaSubtitle {
  font-size: 4rem;
  z-index: 100;

  &__container {
    position: fixed;
    width: 100%;
    bottom: 5%;
    opacity: 0;
    pointer-events: none;
    text-align: center;
  }

  @media (min-width: 900px) {
    font-size: 7rem;
  }
}

.outNowSubtitle {
  width: 100%;
  display: none;
  position: fixed;
  top: 10%;
  left: 0;
  opacity: 0;
  text-align: center;
  pointer-events: none;

  &__decoration {
    position: absolute;
    scale: 0.7;
    bottom: -25%;
    right: 0;
    z-index: 100;
  }
  &__text {
    position: relative;
    font-size: 7rem;
    font-weight: bold;
    z-index: 110;
  }
  @media (min-width: 900px) and (max-width: 1100px) {
    top: 5%;
    &__decoration {
      scale: 1;
      bottom: 0%;
      right: 0%;
    }
    &__text {
      font-size: 10rem;
    }
  }

  @media (min-width: 1100px) {
    top: 5%;
    &__decoration {
      scale: 1.5;
      bottom: 15%;
      right: 15%;
    }
    &__text {
      font-size: 15rem;
    }
  }
}

.watchOnSubtitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  font-weight: bold;
  overflow: hidden;

  &__container {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    inset: 0;
    opacity: 0;
  }

  &__primaryText {
    font-size: 8rem;
  }

  &__secondaryText {
    font-size: 6rem;
    transform: translateY(-30%);
  }

  @media (min-width: 1100px) and (max-width: 1500px) {
    gap: 1rem;
    &__primaryText {
      font-size: 13rem;
    }
    &__secondaryText {
      font-size: 11rem;
    }
  }

  @media (min-width: 1500px) {
    gap: 1rem;
    &__primaryText {
      font-size: 15rem;
    }
    &__secondaryText {
      font-size: 13rem;
    }
  }
}

.promoButtonsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: center;
  align-content: center;
  padding: 0 4rem;
  transform: translateY(-60%);
  overflow: hidden;

  &__crunchyrollButton {
    height: 5rem;
    position: relative;
    border: 10px solid rgba(249, 115, 22);
    border-style: double;
    border-radius: 0.25rem;
    overflow: hidden;
    z-index: 100;
    background-image: url("/crunchyroll.webp");
    background-size: cover;
    background-position: center;
    font-size: 8rem;
  }

  &__funimationButton {
    height: 5rem;
    position: relative;
    border: 10px solid rgba(168, 85, 247);
    border-style: double;
    border-radius: 0.25rem;
    overflow: hidden;
    z-index: 100;
    background-image: url("/funimation.webp");
    background-size: cover;
    background-position: center;
    font-size: 8rem;
  }
  @media (min-width: 1100px) {
    padding: 0 15rem;

    &__crunchyrollButton {
      height: 8rem;
      font-size: 15rem;
    }
    &__funimationButton {
      height: 8rem;
      font-size: 15rem;
    }
  }
}

.hidden {
  opacity: 0;
}
