@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jujutsu Kaisen';
  src: url('./styles/JujutsuKaisen.ttf') format('truetype'); 
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("/blue_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  color: white;
}

.navbar__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2.5rem 0;
  animation: fadeIn 3s linear forwards;

  font-size: 1.875rem;
  line-height: 2.25rem;
  z-index: 99999999;
  pointer-events: none;
  background-image: url('/header_bg.webp');
  background-size: cover;
  background-position: bottom;
}
.navbar {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  background-color: rgba(0,0,0,0.5);
  padding: 0.25rem 2.5rem;
  backdrop-filter: blur(16px);
  border-radius: 9999px;
  pointer-events: auto;
  transform: translateY(-60%);
}

.navbar__pseudoElement{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.navbar__pseudoElement:hover {
  transform: scaleY(4);
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-image: url('/footer_bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 4rem 0;
  text-align: center;
  animation: fadeIn 5s linear forwards;
}
.footer__title {
  transform: translateY(2.5rem);
  font-family: Jujutsu Kaisen;
  font-size: 2rem;
}
.footer__paragraph {
  transform: translateY(4rem);
}

#v0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;

}

.eye {
  width: 90px;
  height: 90px;
  
  bottom: 10%;
  right: 4%;
  background-color: #ffefe2;
  box-shadow: inset 0 0 60px 0 rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  border: 2px solid black;
  position: absolute;
  perspective: 500px;
  overflow: hidden;
}

.eye .iris {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  position: absolute;
  transform: rotateX(-50deg) rotateY(15deg) translateZ(68px) scale(0.8);
  background-image: url("/eye.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100%;
  z-index: 999999;
}

.eye .iris.anim {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: iris;
}

.landscapePrompt {
  position: fixed;
  width: 100%;
  height: 100vh;
  inset: 0;
  background-color: black;
  z-index: 999999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-align: center;
  pointer-events: none;
}

*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@keyframes iris {
  0%, 100% {
    transform: rotateX(-10deg) rotateY(15deg) translateZ(45px) scale(0.8);
  }
  10% {
    transform: rotateX(-50deg) rotateY(15deg) translateZ(45px) scale(0.8);
  }
  30% {
    transform: rotateX(-30deg) rotateY(-5deg) translateZ(45px) scale(0.8);
  }
  45% {
    transform: rotateX(-20deg) rotateY(-15deg) translateZ(45px) scale(0.8);
  }
  55%, 60% {
    transform: rotateX(0deg) rotateY(0deg) translateZ(45px) scale(0.8);
  }
  90% {
    transform: rotateX(30deg) rotateY(5deg) translateZ(45px) scale(0.8);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 900px) {
  .footer {
    padding: 5rem 8rem 5rem 8rem;
  }
}

@media (min-width: 1100px) {
  .eye {
  width: 150px;
  height: 150px;
  }
  .navbar__wrapper {
  padding: 4rem 0;

  }
  .navbar {
    transform: translateY(-90%);
  }
  .navbar__pseudoElement{
    display: block;
  }
  .footer {
    padding: 5rem 15rem 5rem 15rem;
  }

  @keyframes iris {
    0%, 100% {
      transform: rotateX(-10deg) rotateY(15deg) translateZ(68px) scale(0.8);
    }
    10% {
      transform: rotateX(-50deg) rotateY(15deg) translateZ(68px) scale(0.8);
    }
    30% {
      transform: rotateX(-30deg) rotateY(-5deg) translateZ(68px) scale(0.8);
    }
    45% {
      transform: rotateX(-20deg) rotateY(-15deg) translateZ(68px) scale(0.8);
    }
    55%, 60% {
      transform: rotateX(0deg) rotateY(0deg) translateZ(68px) scale(0.8);
    }
    90% {
      transform: rotateX(30deg) rotateY(5deg) translateZ(68px) scale(0.8);
    }
  }
}

@media (min-width: 1500px) {
  .footer {
    padding: 5rem 19rem 5rem 10rem;
  }
} 

